#h1{
  color:white;
  font-family:arial, monospace;
  text-align:center;
    background-color: #918e82;
    margin:0;
    padding: 20px;
    top:0;
    width:100%;
  }

ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow-x:hidden;
  background-color:#333333;
  position: fixed;
  width:100%;
  
}

li{
  float:left;
  width:100%;
  margin-right:0;
}

li a{
  display:block;
  color:white;
  font-style:italic;
  text-align:center;
  padding:16px;
  text-decoration:none;

}

li a:hover{
  background-color:#dddddd;
  color:#333333;
}
