*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.header{
  color:white;
  font-family:arial, monospace;
  text-align:center;
    background-color: #918e82;
    margin:0;
    padding: 20px;
    width:100%;
    box-sizing:border-box;
  }

ul{
  list-style-type:none;
  overflow-x:hidden;
  background-color:#333333;
  display:flex;
}

li{
  flex:1;
}

li a{
  display:block;
  color:white;
  font-style:italic;
  text-align:center;
  padding:16px;
  text-decoration:none;

}

li a:hover{
  background-color:#dddddd;
  color:#333333;
}
